PATH="/usr/local/opt/coreutils/libexec/gnubin:$HOME/bin/brew:$PATH"
export PATH
MANPATH="/usr/local/opt/coreutils/libexec/gnuman:$MANPATH"
export MANPATH

export EDITOR=vim
export HISTTIMEFORMAT="%d/%m/%Y %T : "
